﻿@using mvc_nhibernate.Models
@model IEnumerable<Book>

@{
    ViewBag.Title = "Books";
}

<h2>Book List</h2>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Isbn</th>
            <th>Title</th>
            <th>Publisher</th>
            <th>Published Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Book book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Isbn</td>
                <td>@book.Title</td>
                <td>@book.Publisher</td>
                <td>@book.PublishedDate</td>
            </tr>
        }
    </tbody>
</table>